*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	background: url(/imges/homm.avif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	position: relative;
	box-shadow: 0 5px 25px rgba(0 0 0 / 10%);
	background-color: #ee0b0b00;
	color: #080708;
	font-family: "Pacifico", cursive;
	font-weight: 100;
	font-style: normal;
	overflow: hidden;
}

.nav{
	display:flex;
	flex-direction: column;
	justify-content: start;
	width: 20vw;
	height: 100vw;
	position: fixed;
	padding: 0px 50px;
	z-index: 100;
	
	
	
	
	
}
.nav a{
	color: #fffefe;
	text-decoration: none;
	font-size: 20px;
	margin-left: 20px;
	font-family: "Pacifico", cursive;
	font-weight: 100;
	font-style: normal;
	margin-top: 50px;
	overflow: hidden;
}
.nav a:hover{
	color: #dd02aa;
	transition :all 0.3s;
	border-radius: 20px;
	border-color:wheat;
	border: solid;
	padding: 4px 10px;
}
.nav span{
	margin-left: 8px;
}
img{
	margin-top: 30px;
}

img:hover{
	transform: scale(1.2);
	transition: all 0.3s;
	filter: drop-shadow(10px 2px 10px 1px red);
	
}

.main-logo-container{
	display: inline-flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	justify-content: center;
	font-family: "Pacifico", cursive;
	font-weight: 100;
	font-style: normal;
	font-size: 20px;
	margin-top: 10px;

}

.card-text{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50vw;
	height: 200px;
	border-radius: 10px;
	margin-left: 15vw;
	margin-top: 10vh;
	background-color: rgba(19, 12, 2, 0.062);
	position: absolute;
	color: #fffefe;
	
}

.main-accodin{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 10vw;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 10%;
	left: 45%;
	width: 60vw;
	height: 200px;
}

button{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: #0b08088c;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 0px 20px;
}
button:hover{
	background-color: #ffffff;
	color: #000000;
	transition: all 0.3s;
}

#accordion{
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 30vw;
	left: 15%;
  }
  .accord{
	width: 50vw ;
	margin: 0.5rem;
  }
  .accord h1{
	border: 2px solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px 10px 0px 0px;;
	background-color: #02010111;
	color: #dd02aa;
	cursor: pointer;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 100;
	font-style: normal;
	padding: 5px 1rem;
  }
  .accord h1 i{
	cursor: pointer;
  }
  .accord p{
	display: none;
  }
  .accord p.active{
	display: block;
	border: 2px solid;
	border-top: none;
	border-radius: 0 0 20px 20px ;
	padding: 1rem;
	background-color: #ee0b0b00;
	color: #fffbff;
	font-family: "Pacifico", cursive;
	font-weight: 100;
	font-style: normal;
	text-decoration: none;
	list-style-type: none;
	
	
  }
.arrow-up{
	cursor: pointer;
	margin: 10;
}
.home-card-img{
	transition: all 0.3s;
	margin-left: 10px;

}
.home-card-img:hover{
	transform: scale(1.2);
	z-index: 4;
}


  .modal-bg{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	visibility: hidden;
	opacity: 0;
  }
  .modal-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 85%;
	margin: 3rem 1rem 0 1rem;
	background-color: linear-gradient(
	  to top right,
	  rgba(150, 20, 20, 0.7),
	  rgba(146, 36, 36, 0.3)
	);
	padding: 0.3rem;
	box-shadow: 0 5px 25px rgba(0 0 0 / 10%);
	border-radius: 10px;
	backdrop-filter: blur(3rem);
	background-clip: padding-box;
	position: relative;
	color: white;
  }
  .home-card-modal {
	padding: 0;
	width: 225px;
	height: 290px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0 0.5rem;
	color: var(--light);
	box-shadow: 0 5px 25px rgba(0 0 0 / 20%);
	position: relative;
	transition: 0.3s ease;
  }
  .home-card-modal:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(89, 97, 221, 0.2);
	border-radius: 10px;
  }
  .home-card-modal:hover {
	transform: translateY(-10px);
  }
  .modal-text {
	background-color: rgba(0 0 0 / 50%);
	padding: 1rem 0.6rem;
	height: 7rem;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 90;
  }
  .home-card-modal h2 {
	font-size: 18px;
	text-align: center;
	line-height: 1.3;
	margin-bottom: 0.7rem;
  }
  .home-card-modal p {
	font-size: 14px;
	font-weight: 500;
  }
  
  .modal-active {
	visibility: visible;
	opacity: 1;
  }
  .close-btn {
	position: absolute;
	top: 4rem;
	right: 3rem;
	font-size: 1.5rem;
	cursor: pointer;
	color: #ffffff;
	transition: 0.3s ease;
  }
  .close-btn:hover {
	transform: rotate(360deg);
  }

  /* bg modal */
  #music-modal {
	background: url(/imges/music.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;

  }
  #scene-modal {
	background: url(/imges/scene.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
  }
   #breathe-modal {
	background: url(/imges/breathe.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;

  }
  #ai-modal {
	background: url(/imges/ai.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;

  }
  

	/* ------------------ */
	
/* music seassion startrtee */
.main{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:20px ;
	border: none;
}

.music-all-list{
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(22, 86, 164); 
	padding: 1rem;
	border-radius: 20px;
	border: none;
}

.music-all-list h1{
	font-size: 40px;
	padding: 20px;
	color: white;
}

select{
	padding:1rem;
	width: 35vw;
	margin-top: 20px;
	border-radius: 20px;
	background-color: #ffffff;
	color: #030202;
	font: bold;
	border: none;
	padding-right: 50px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.music-all-list:hover{
	background-color: #dd02aa;
	color: #000000;

}
select:hover{
	background-color: #181c1e;
	color: #fffefe;
}
.music-all-list::placeholder{
	font-size: 20px;
	font-weight: bold;

}

.try{
	border: solid;
	width: 50vw;
	height: 500px;
}

.div-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

